<% layout('layout') -%>
<h1>Admin</h1>
<ul class="list">
	<li><a href="/admin/news">Manage News</a></li>
	<li><a href="/admin/events">Manage Events</a></li>
	<li><a href="/admin/messages">View Contact Messages</a></li>
</ul>